!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
        script(src='/javascripts/jquery.js')
        script(src='/javascripts/script.js')
  body!= body
